<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quotes</title>
    <meta name="description" content="Coding Dojo, Python II, Django II, Quotes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <nav>
        <a class="btn btn-link" href="{% url 'login_reg:logout' %}" role="button">Logout</a>
        <a class="btn btn-link" href="{% url 'quotes:index' %}" role="button">Dashboard</a>
      </nav>
      <header class="page-header">
        <h1>Posts by {{ user.alias }} <small> Count: {{ count }}</small></h1>
      </header>

      {{ thisUser.id }} {{ thisUser.name }}

      <section>
        {% for quote in quotes %}
          {% if quote.user.id == user.id %}
            <div style="width:700px;padding:10px;">
              <p style="font-size:1.5em;"><span style="color:#c51b1b;">{{ quote.author }}:</span> {{ quote.message }}</p>
            </div>
          {% endif %}
        {% endfor %}
      </section>
    </div>
  </body>
</html>
